{% load leftmenu %}
        <!-- Necessary markup, do not remove -->
        <div id="mws-sidebar-stitch"></div>
        <div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        
            <!-- Hidden Nav Collapse Button -->
            <div id="mws-nav-collapse">
                <span></span>
                <span></span>
                <span></span>
            </div>
            
            <!-- Main Navigation -->
            <div id="mws-navigation">
                <ul>
                    {% if user.is_superuser %}
                    <li><a href="{% url manageclass %}"><i class="icol32-group"></i>Class Management</a></li>
                    <li><a href="{% url managestudent %}"><i class="icol32-user-green"></i>Student Management</a></li>
                    <li><a href="{% url manageassessment %}"><i class="icol32-group-edit"></i>Mutual Evaluation Management</a>
                        <ul>
                            <li><a href="{% url viewassessment %}">Look up evaluation</a></li>
                            <li><a href="{% url manageassessment %}">configration</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if not user.is_superuser %}
                    <li><a href="{% url manageassessment %}"><i class="icol32-group-edit"></i>Mutual Evaluation Management</a>
                        <ul>
                            {% go_assess %}
                            <li><a href="{% url viewassessment %}">My Mutual Evaluation</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="{% url managegrades %}"><i class="icol32-document-prepare"></i>GPA management</a>
                        <ul>
                            {% if user.is_superuser %}
                                <li><a href="{% url importgrades %}">Import score</a></li>
                            {% endif %}
                            <li><a href="{% url classgrades %}">Class GPA</a></li>
                            <li><a href="{% url managegrades %}">Student GPA</a></li>
                        </ul>
                    </li>
                    {% if user.is_superuser %}
                    <li><a href="{% url behavior %}"><i class="icol32-sport-soccer"></i>Activation management</a>
                        <ul>
                            <li><a href="{% url behavior %}">Daily Behavior</a></li>
                            <li><a href="{% url development %}">Interest development</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li>
                        <a href=""><i class="icol32-document-quote"></i>General assessment management</a>
                        <ul>
                            {% if user.is_superuser %}
                                <li><a href="{% url comperformance_setup %}">General assessment configuration</a></li>
                                <li><a href="{% url comperformance %}">General-class</a></li>
                            {% endif %}
                            <li><a href="{% url classcomperformances %}">General-student</a></li>
                            {% if not user.is_superuser %}
                                <li><a href="{% url studentcomperformance %}">Look up general student</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>         
        </div>
