<div id="add-assessment-dialog" style="display:none">
<form id="add-assessment-form" method="post" class="mws-form" action='{% url addassessment %}'>
    {% csrf_token %}
        <div id="mws-validate-error" class="mws-form-message error" style="display:none;"></div>
        <div class="mws-form-inline">
            <div class="mws-form-row">
                <label class="mws-form-label">Spring 2014</label>
                <div class="mws-form-item large">
                    <input type="text" id='term' name='term' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">Start date</label>
                <div class="mws-form-item large">
                    <input type="text" name='begindate' id='begindate' style="width:120px;" readonly="readonly"  class="mws-datepicker"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">End date</label>
                <div class="mws-form-item large">
                    <input type="text" id='enddate' name='enddate' style="width:120px;" readonly="readonly"  class="mws-datepicker"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">A(%)</label>
                <div class="mws-form-item large">
                    <input type="text" id='excellent' name='excellent' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">B(%)</label>
                <div class="mws-form-item large">
                    <input type="text" id='good' name='good' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
            <div class="mws-form-row">
                <label class="mws-form-label">C(%)</label>
                <div class="mws-form-item large">
                    <input type="text" id='ordinary' name='ordinary' style="width:120px;"/>
                        <div class="error-messages">
                        </div>
                </div>
            </div>
        </div>
    </form>
</div>
